
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto+Serif:wght@100&display=swap');
body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
  
}


#particles-js
{
    height: 100%;
    background: white;
}


.textlanding {
    color: black;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
 
}

element.style {
    height: 100%;
}

section {
    padding: 100px 0;
  
 
}



.nav-link {
    color:black;
}


/*code to change background color*/
.active  a {
    color:rgba(17,100,102,1);
    border-bottom: 3px solid rgba(17,100,102,1);
}

.nav-item>a:hover {
    background-color: white;
    color:rgba(17,100,102,1);
    border-bottom: 3px solid rgba(17,100,102,1);
}

.nav-pills .nav-link.active {
    background-color: white !important;
    color:rgba(17,100,102,1) !important; 
    border-bottom: 3px solid rgba(17,100,102,1)  ;
}

img.img-fluid {
    max-width: 100%;
    max-height: 100%;
  }
  
 
  
  @media screen and (max-width: 1000px) {
    img.img-fluid {
        max-width: 50%;
        max-height: 70%;
    }
  }
  .navbar-toggler:focus, .navbar-toggler:hover {
    background-color: #ddd;
}
.navbar-toggler {
    border-color: #ddd;
}
.navbar-toggler:focus {
    outline: 0;
}

#Contacts
{
  background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,100,102,1) 60%,  #85D8CE 100%);
}


#About 
{
    font-family: Verdana;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,100,102,1)  60%, #85D8CE 100%);
    
    
    
}





.btn-grad {background-image: linear-gradient(to right, #085078 0%, #85D8CE  51%, #085078  100%)}
.btn-grad {
   
  
   
  
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
  
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }



 .btn-style 
 {
   border:2px solid rgba(17,100,102,1) ;
 }

 .btn-style:hover{
     background-color: rgba(17,100,102,1) ;
     color: white;
 }
